<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comments</title>
</head>
<body>
    <h1>Course: {{course.name}}</h1>
    <p>Description: {{description.desc}}</p>
    <p>Comments:</p>
    {% if comments %}
    {% for comment in comments %}
    <p>{{comment.comment}}</p>
    {% endfor %}
    {% endif %}
    <form action="/courses/{{course.id}}/comments/create" method="post">
        {% csrf_token %}
        <textarea name="comment"></textarea>
        <input type="submit" name="Add comment">
    </form>
    {% if messages %}
    {% for message in messages %}
    <p>{{message.message}}</p>
    {% endfor %}
    {% endif %}
    <a href="/courses">Go Back</a>
</body>
</html>